/* CARDS */
.directorymanager-card-frame{
	width: 100%;
	height: 100%;
}
.directorymanager-card-view{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
}
.directorymanager-card-frame .directorymanager-card-layout{
	width: 100%;
	height: 100%;
	padding: 5px;
}
.directorymanager-card-view .directorymanager-card{
	display: flex;
	flex-direction: column;
	margin: 15px 0px;
}