<!--#begin added_to_workspace_html -->
<!--#if title "!= " -->
<h3>{ title }</h3>
<!--#endif title -->
<p>{ message }</p>
<!--#end added_to_workspace_html -->

<!--#begin added_to_workspace_text -->
<!--#if title "!= " -->
{ title }
<!--#endif title -->

{ message }

<!--#end added_to_workspace_text -->